/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: black;
}
html {
	font-family: Arboria-medium;
}
/*content main*/

.main{
	width: 100%;
 	display: flex;
	flex-wrap: wrap;
}
/**** start topbar ****/
.topbar{
	height: 6rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.topbar__logo{
	width: 20%;
	min-width: 12rem;
	padding-button: 2em;
}
.topbar__logo img{
	width: 100%;
	padding: 5px;
}
.menu--mobile{
	display: none;
}
.menu__list__item{
	padding-right: 3em;
}
.arrow{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: black;
	box-sizing: border-box;
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top: 3px solid;
	border-right: 3px solid;
	margin: 5px 0 0 10px;
	transform: rotate(135deg);
	margin-bottom: 12px;
}
.menu {
}
.menu__list{

	display: flex;
	width: 60vw;

}
		/**** end topbar ****/

.blockBgImg{
	background-image: url("img/Capture1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: cover;
	background-position: center;
	width: 100%;
	height: 80vh;
	justify-content: center;
	align-items: center;
	display: flex;
}
.buttonOpenModal{
	width: 18rem;
	height: 4rem;
	display: flex;
}
.buttonOpenModal__play{
	flex-grow: 1;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
	background-color: #db124b;
	border-color: transparent;
	margin: .1rem;
}
.buttonOpenModal__text{
	flex-grow: 3;
	font-size: 1.4rem;
	color: white;
	background-color: #db124b;
	border-color: transparent;
	margin: .1rem;
}
.blockTextBold{
	background-color: #511c74;
	width: 100%;
}
.blockTextBold p{
	font-size: 2rem;
	line-height: 1.5;
	padding: 5rem 8rem;
	color: white;
}
.blockMarginImg{
	background-color: #511c74;
	display: flex;
	padding: 3rem;
}
.blockMarginImg img{
	width: 100%;
	height: 100%;
}
.blockFullWidthImg {
	width: 100%;
	justify-content: center;
	display: flex;
}
.blockFullWidthImg img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.blockTitleText {
	width: 100%;
	background-color: #db124b;
	padding: 2rem 8rem;
}
.blockTitleText__title {
	font-size: 2.8em;
	margin-bottom: 1.5rem;
	color: white;
}
.blockTitleText__text {
	font-family: Arboria-medium;
	font-size: 1.4em;
	line-height: 2.5;
	color: white;
}
.blockInfoFour {
	background-color: yellow;
	width: 100%;
	display: grid;
	grid-template-columns: 10rem 10rem 10rem 10rem;
	grid-template-rows: 
	10rem;
	grid-gap: 1rem;
	justify-content: center;
	align-items: center;
}
.blockInfoThree {
	background-color: yellow;
	width: 100%;
	display: grid;
	grid-template-columns: 10rem 10rem 10rem;
	grid-template-rows: 
	10rem;
	grid-gap: 1rem;
	justify-content: center;
	align-items: center;
}
.blockInfo__img{
	width: 80%;
}
.blockThreeImg {
	background-color: cyan;
	display: grid;
	width: 100%;
	grid-template-columns: 25% 25%;
	grid-template-rows: 
	30%
	80%;
	grid-gap: 2rem;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.blockThreeImg img {
	width: 100%;
}
.blockThreeImg__img1 {
	grid-column: 1;
}
.blockThreeImg__img2 {
	grid-column: 2;
}
.blockThreeImg__img3 {
	grid-column: span 2;
}
.blockTextTwoColumns {
	background-color: rgb(88, 241, 241);
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 2rem 8em;
	grid-column-gap: 3em;
}
.blockTextTwoColumns__title {
	grid-column: span 2;
	font-size: 2.8em;
	color: rgb(51, 51, 51);
}
.blockTextTwoColumns__text {
	font-family: Arboria-medium;
	font-size: 1.4em;
	line-height: 2;
	color: rgb(51, 51, 51);
}
.blockFormulary {
	background-color: gold;
	width: 100%;
	padding-top: 4rem;
	display: flex;
	flex-flow: column wrap;
}
.blockFormulary label {
	padding-bottom: 1.5rem;
	display: flex;
	justify-content: center;
}
.blockFormulary input {
	font-size: .8em;
	padding-left: .5em;
	height: 2.9rem;
	width: 60rem;
	border: none;
}
.footerContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	padding-left: 8em;
	padding-right: 8em;
	grid-column-gap: 2em;
}
.footerLogo {
	align-self: center;
	grid-column: span 2;
	height: 7em;
	background-color: pink;
	padding: 0;
}
.footerLogo img {
	width: 28em;
	margin-left: -2em;
}
.blockTitleTextSmall {
	justify-self: center;
	padding: 2em 0;
}
.blockTitleTextSmall__title {
	font-size: 1.2em;
}
.blockTitleTextSmall__text {
	font-size: 1em;
	line-height: 2;	
}
.blockPartner {
	align-self: center;
}
.blockPartner__title {

	font-size: 1.2em;
}
.blockPartner img{
	width: 20%;
}
.blockSubscribe {
	grid-column: span 2;

}
.blockSubscribeMobile label {
	display: flex;
	width: 100%;
}
.blockSubscribe__input {
	font-size: 1.3em;
	padding-left: .5em;
	height: 2.9rem;
	width: 40%;
}
.blockSubscribe__input--background {
	background-color: silver;
	border: 0em;
}
.buttonOpenModal__text--height {
	height: 3rem;
	width: 20%;
	margin-left: 0px;
	padding-left: 0px;
}
.footerMenu {
	grid-column: span 2;
}
.footerMenu__list {
	display: flex;
	width: auto;
	align-items: center;
}
.footerMenu__list__item {
	padding-right: 3em;

}
.footerMenuImg {
	width: 7em;
	height: 7em;
	justify-self: flex-end;
}
.footerMobile {
	display: none;
}
.footerMobile__logo {
	width: 100%;
}
.footerMobile__logo img {
	width: 100%;
}
.blockTitleTextSmall--mobile {
	justify-self: center;
	padding: 1em;
}
.blockSubscribeMobile {
	width: 90%;
	display: flex;
	margin-left: 5%;
}
.blockSubscribeMobile__input {
	font-size: 1em;
	padding-left: .5em;
	height: 2.9rem;
	width: 100%;
}
.buttonOpenModalMobile__text {
	height: 3rem;
	width: 40%;
	background-color: #db124b;
	border: none;
}
.footerMenuMobile {
	display: flex;
	margin-top: 2em;
	justify-content: center;
}
.footerMenuMobile__list {
	display: flex;
	flex-direction: column;
}
.footerMenuMobile__list__item {
	display: flex;
	justify-content: center;
	padding: 1em;
}
.footerMenuMobile__list__item a{
	font-size: 1em;
}
.footerMenuImgMobile {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
}
@media screen and (max-width: 1080px) {
	.blockBgImg {
		background-position: center;
		background-size: 1100px;
		background-attachment: none;
	}
	.menu__list__item a{
		font-size: .8rem;
	}
	.blockThreeImg {
		background-color: cyan;
		display: flex;
		width: 100%;
		padding: 2rem;
		max-height: 40vh;
	}
	.blockThreeImg__img2 {
		display: none;
	}
	.blockThreeImg__img3 {
		display: none;
	}
	.blockFormulary {
		padding-top: 4rem;
	}
	.blockFormulary label {
		padding-bottom: 1.5rem;
	}
	.blockFormulary input {
		font-size: .6em;
		padding-left: .4em;
		height: 2rem;
		width: 80vw;
	}
}
@media screen and (max-width: 600px) {
	.topbar__logo{
		width: auto;
	}
	.topbar__logo img{
		width: 12rem;
		padding: 10px 0 10px 0px;
	}
	.menu{
		display: none;
	}
	.menu--mobile{
		width: 5rem;
		display: flex;
	}
	.arrow{
		display: inline-block;
	}
	.buttonOpenModal{
		width: 12rem;
		height: 3rem;
		display: flex;
	}
	.buttonOpenModal__play{
		font-size: 1rem;
	}
	.buttonOpenModal__text{
		font-size: .8rem;
	}
	.blockTextBold p{
		font-size: 1.5rem;
		padding: 2rem;
	}
	.blockMarginImg{
		padding: 0;
	}
	.blockFullWidthImg {
		height: 40vh;
	}
	.blockTitleText {
		padding: 2rem;
	}
	.blockTitleText__title {
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
	.blockTitleText__text {
		font-family: Arboria-medium;
		font-size: 1.2rem;
		line-height: 1.5;
	}
	.blockInfoFour {
		display: none;
	}
	.blockInfoThree {
		display: none;
	}
	.blockThreeImg {
		background-color: cyan;
		display: flex;
		width: 100%;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.blockTextTwoColumns {
		grid-template-columns: 100%;
		grid-row-gap: 1.5em;
		padding: 1em;
	
	}
	.blockTextTwoColumns__title {
		grid-column: 1;
		font-size: 1.8em;
		color: rgb(51, 51, 51);
		padding-bottom: .8em;
	}
	.blockTextTwoColumns__text {
		font-family: Arboria-medium;
		font-size: 1em;
		line-height: 2;
		color: rgb(51, 51, 51);

		padding: 0;
		margin: 0;
	}
	.footerContainer {
		display: none;
	}
	.footerMobile {
		display: flex;
		flex-flow: column wrap;
		padding-left: 1em;
		padding-right: 1em;
	}
}
