/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: black;
}
/*content main*/

.main{
	width: 100%;
 	display: flex;
	flex-flow: column wrap;
	font-family: "Arboria";
}
/* --------------- start topbar -----------------*/
.topbar{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.topbar__logo{
	width: 20%;
	min-width: 12rem;
}
.topbar__logo--img{
	width: 100%;
	padding: 15px 0 15px 5px;
}
.menu--mobile{
	display: none;
}
.menu__item{
	flex-grow: 2;
}
.arrow{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: black;
	box-sizing: border-box;
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top: 3px solid;
	border-right: 3px solid;
	margin: 5px 0 0 10px;
	transform: rotate(135deg);
	margin-bottom: 12px;
}
.menu__list{

	display: flex;
	width: 60vw;

}
		/*end topbar*/

.block{
	background-color: #511c74;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.block__text{
	width: 100%;
}
.block__image{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.block__image--height{
	height: 80vh;
}
.block__image--background{
	background-image: url("img/Capture1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: cover;
}
.button{

	width: 18rem;
	height: 4rem;
	display: flex;
}
.button__play{
	flex-grow: 1;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
}
.button__text{
	flex-grow: 3;
	font-size: 1.4rem;
	color: white;
	font-weight: bold;
}
.button--color{
	background-color: #db124b;
	border-color: transparent;
	margin: .1rem;
}
.block__text{
	width: 100%;
}
.block__text--size{
	font-size: 3rem;
	line-height: 1.5;
	font-weight: bold;
}
.block__text--padding{
	padding: 5rem;
}
.block__text--white{
	color: white;
}
.block__image--padding{
	padding: 3rem;
}

@media screen and (max-width: 1050px) {
	.block__image--background{
	background-position: center;
	background-size: 1100px;
	background-attachment: none;
	}
	.menu__item a{
	font-size: .8rem;
	}
}
@media screen and (max-width: 600px) {
	.topbar__logo{
	width: auto;
	}
	.topbar__logo img{
	width: 12rem;
	padding: 10px 0 10px 0px;
	}
	.menu{
		display: none;
	}
	.menu--mobile{
		width: 5rem;
		margin-top: ;
		display: flex;
	}
	.arrow{
		display: inline-block;
	}
	.button{
	width: 12rem;
	height: 3rem;
	display: flex;
	}
	.button__play{
		font-size: 1rem;
	}
	.button__text{
		font-size: .8rem;
	}
	.block__text--size{
		font-size: 1.5rem;
		padding: 2rem;
	}
	.block__image--padding{
		padding: 0;
	}
}
